@tailwind base;
@tailwind components;
@tailwind utilities;


/* Global theme colors */
:root {
  --color-bg: #1a1a1a;
  --color-text: #ffffff;
  --color-gold: #dab768;
  --color-gold-light: #fef7b2;
  --color-gold-dark: #a77338;
  --color-announcement-bg: #734b10;
}

body {
  @apply bg-[var(--color-bg)] text-[var(--color-text)];
}

.bg-theme {
  background-color: var(--color-bg);
}

.text-theme {
  color: var(--color-text);
}

.border-theme {
  border-color: var(--color-text);
}

/* Base modal container styling */
.modal-container {
  background-color: var(--color-bg);
  color: var(--color-text);
}

.text-gold {
  color: var(--color-gold);
}

.border-gold {
  border-color: var(--color-gold) !important;
}

.bg-gold-gradient {
  background: linear-gradient(
    to top,
    var(--color-gold-dark),
    var(--color-gold),
    var(--color-gold-light),
    var(--color-gold),
    var(--color-gold-dark)
  );
}

.bg-gold-gradient-right {
  background: linear-gradient(
    to right,
    var(--color-gold-dark),
    var(--color-gold),
    var(--color-gold-light),
    var(--color-gold),
    var(--color-gold-dark)
  );
}

.bg-announcement {
  background: linear-gradient(to top, var(--color-announcement-bg));
}

.my-input {
  @apply focus:ring-1 focus:outline-none focus:ring-[var(--color-gold)] focus:border-[var(--color-gold)] transition duration-150 ease-in-out;
}

/* Base input and button styles for consistent look */
.input {
  @apply px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-[var(--color-gold)] bg-black bg-opacity-75;
}

.btn {
  @apply rounded-md font-semibold transition-colors duration-200;
}

.btn:focus {
  outline: none !important;
  box-shadow: 0 0 0 1px var(--color-gold) !important;
}

.btn-gradient {
  @apply btn bg-gold-gradient text-black focus:outline-none !important;
}

.btn-gradient.active,
.btn-gradient[aria-pressed=true] {
  color: white !important;
  border: 1px solid var(--color-gold) !important;
  background: transparent !important;
  @apply shadow-inner;
}